# DB
MYSQL_URI=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_VOLUME_DIR=


# MAIL
MAIL_HOST=
MAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SUBJECT=
EMAIL_MESSAGE=
IS_TLS_ENABLED=

# UPLOADS
UPLOAD_DIR=

# PORT TEST
PORT_TEST=

# SECURITY
SECRET_KEY=
EXPIRE_LENGHT=

# TIME ZONE
TZ=